@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #B3E9C7;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #157145;
}

header{
    padding: 10px;
    background-image: linear-gradient(to bottom, #C2F8CB, #157145);
    text-align: center;
    color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.247);
}

header > h1{
    text-transform: uppercase;
}

header > nav{
    text-align: left;
}

header > nav > a{
    color: white;
    margin-right: 30px; /*espaçamento entre os links*/
}

header > nav > a:hover{
    text-decoration: underline;
    color: rgb(201, 244, 208);
}

main{
    width: 840px;
    margin: auto;
    border: 2px solid salmon;
    background-color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.247);
}

main > article > section > h1{
    font-family: 'idroid', sans-serif;
    font-size: 26px;
}

main > article > section > h2{
    font-family: 'idroid', sans-serif;
    font-size: 20px;
}

section#historia{
    padding: 20px 20px 0px 20px;
}


