@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background: linear-gradient(to bottom, #C2B8B2, #8A716A);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px; /* definindo arredondamento de borda */
    box-shadow: 10px 10px 12px #c2b8b298; /* definindo sombra */
    width: 600px; /* definindo a largura do elemento*/
    padding: 10px; /* definindo borda interna */
    margin: auto; /* centralizando o elemento independente do tamanho da tela*/
}

h1{
    color: #2274A5;
    text-align: center;
    text-shadow: 2px 2px 2px #c2b8b2; /* definindo sombra no texto */
}

h2{
    color: #242038;
}

p{
    text-align: justify;
}